# macOS
.DS_Store

# Swift / SPM
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
*.pbxuser
*.perspectivev3
*.xcuserstate

# Build artifacts
*.dmg
*.app
*.dSYM.zip
*.dSYM

# IDE
.vscode/
.idea/
